body {
	font-family: "Arial";
	margin: 0;
}

html, body {
	height: 100px;
}

h1 {
	text-align: center;
	margin: 0;
}

.main {
	margin: 15px;
	border: solid #000 4px;
	padding: 20px;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	margin-bottom: 0;
}

/*img {
	display: block;
	margin: auto;
	width: 50%;
}
*/
pre {
	font-family: "Courier New", "monospace";
	font-weight: bold;
	background: #ddd;
	padding: 0.5em;
	font-size: 17px;
	border: 2px solid #000;
	margin: 1em 0;
	display: inline-flex;
	min-width: 600px;
}

a {
	color: #000;
}

a:active {
	color: #f00;
}
